{% load l10n %}
<div style="width: 700px">
    <div style="text-align: center;">
        <h1>{{reminder.title}}</h1>
    </div>
    <div>
        {% if reminder.place %}
            <div>
                <span>
                    {% localize on %}Place:{% endlocalize %}
                </span>
                <span>
                    {{reminder.place}}
                </span>
            </div>
            <br />
        {% endif %}
        {% if reminder.description %}
            <div>
                <div>
                    {% localize on %}Description:{% endlocalize %}
                </div>
                <div>
                    {{reminder.description}}
                </div>
            </div>
        {% endif %}
    </div>

    <p style="text-align: center;">
        {% localize on %}Thank you so much for using our system.{% endlocalize %}
    </p>
</div>
